{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema POS {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="light-theme">

    <div class="dashboard-layout">
        <div class="main-app-container card-style">

            <aside class="sidebar">
                <nav class="sidebar-nav">
                    <div style="padding: 10px 20px; color: #aaa; font-size: 0.8em;">
                            Logueado como: <strong style="color: grey;">{{ user.username|title }}</strong>
                    </div>
                    <a href="{% url 'panel_control' %}" class="sidebar-link">
                       <i class="fas fa-tachometer-alt"></i> Dashboard
                    </a>
                    <a href="{% url 'product_list' %}" class="sidebar-link">
                       <i class="fas fa-box"></i> Productos
                    </a>
                    <a href="{% url 'inventory_index' %}" class="sidebar-link">
                       <i class="fas fa-clipboard-list"></i> Inventario
                    </a>
                    <a href="{% url 'salidas_especiales' %}" class="sidebar-link">
                        <i class="fas fa-hand-holding-heart"></i> Consumo Interno
                    </a>
                    <a href="{% url 'maestro_list' %}" class="sidebar-link">
                        <i class="fas fa-book"></i> Maestro de inventario
                    </a>
                    <a href="{% url 'reportes_index' %}" class="sidebar-link">
                        <i class="fas fa-chart-line"></i> Reportes
                    </a>
                    <a href="#" class="sidebar-link">
                       <i class="fas fa-user-tie"></i> Personal
                    </a>
                    <a href="{% url 'index' %}" class="sidebar-link">
                       <i class="fas fa-cash-register"></i> Punto de Venta
                    </a>
                    <a href="{% url 'configuracion_menu' %}" class="sidebar-link">
                        <i class="fas fa-cog"></i> Configuración
                    </a>
                    <div style="margin-top: auto; border-top: 1px solid rgba(255,255,255,0.1); padding-top: 10px;">

                        <form action="{% url 'logout' %}" method="post" style="padding: 0 15px;">
                            {% csrf_token %}
                            <button type="submit" class="sidebar-link" style="background: none; border: none; width: 100%; text-align: left; color: #ff6b6b; cursor: pointer;">
                                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                            </button>
                        </form>
                    </div>
                </nav>
            </aside>

            <main class="main-content-area">
                {% block content %}
                {% endblock %}
            </main>

        </div> 
    </div>

</body>
</html>